html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.font-bold {
    font-weight: bold;
}

.font-thirteen {
    font-size: 1.3rem;
}

.cursor-pointer {
    cursor: pointer;
}

.bottom-fixed {
    position: absolute;
    bottom: 0;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: #00000010;
    }
}